.header {
  display: flex;
  height: 90px;
  justify-content: space-between;
}

.logo {
  align-items: center;
  display: flex;

  a {
    align-items: center;
    display: flex;
  }

  h1 {
    color: var(--dark-blue);
    font-size: 24px;
    margin-left: 4px;

    & > span {
      color: var(--owl-blue);
    }
  }
}

.links {
  align-items: center;
  display: flex;

  & > a {
    color: var(--black);
    font-size: 18px;
    line-height: 24px;
    margin-left: 30px;
  }

  & > a:first-child {
    margin-left: 0;
  }
}

.selected {
  text-decoration: underline;
}

.logButton {
  background-color: var(--owl-blue-light);
  border: 2px solid var(--dark-blue);
  border-radius: 19.5rem;
  color: var(--dark-blue);
  font-weight: 700;
  padding: 7px 28px 8px 29px;
  transition: all 0.1s ease;

  &:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  }
}
