.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding: 0 17px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  font-weight: 300;
  height: 30px;
  justify-content: center;

  @media screen and (min-width: 480px) {
    font-size: 14px;
    height: 80px;
  }
}
