.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 17px;
}

.footer {
  font-size: 14px;
  font-weight: 300;
  padding: 17px;
}
