.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  height: 80px;
  justify-content: center;
}
