@import 'variables';

.login {
  background-color: var(--owl-blue-light);
  border: 2px solid var(--dark-blue);
  border-radius: 19.5rem;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 700;
  padding: 5px 35px;
  transition: all 0.1s ease;

  &:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  @media screen and (min-width: $tablet-width) {
    padding: 7px 28px 8px;
  }
}
