.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.avatar {
  background-color: var(--owl-blue-light);
  margin: 0 auto;
  width: 500px;
}

.description {
  margin-top: 40px;

  h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }
  p {
    font-size: 22px;
    margin-top: 22px;
  }
}

.social {
  margin-top: 36px;

  p {
    font-size: 30px;
    line-height: 36px;
  }
}

.socialIcons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
