.title {
  font-size: 36px;
}

.overview {
  margin-top: 35px;
}

.playing {
  margin: 20px auto 0;
  max-width: 575px;
}

.statsContainer {
  margin-top: 35px;
}

button.back {
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 5px;
  margin-right: 15px;
  padding: 2px 5px 0 2px;

  & > svg {
    fill: var(--black);
    height: 20px;
    width: 20px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

button.backDesktop {
  align-items: center;
  background: transparent;
  border: 1px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  display: none;
  padding: 3px 11px 3px 3px;

  & > svg {
    fill: var(--black);
    height: 20px;
    width: 20px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 25px;
    position: absolute;
  }
}

button.play {
  background-color: var(--green);
  border: 2px solid forestgreen;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
  height: 62px;
  width: 235px;

  &:hover {
    background-color: var(--green-hover);
  }
}
