.card {
  background-color: var(--white-light);
  border: 1.5px solid var(--black);
  border-radius: 7px;
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }

  p {
    margin: 0 0 5px;
    text-align: left;
  }
}

.large {
  padding: 12px 12px 17px;

  p {
    font-size: 20px;
  }

  svg {
    height: 72px;
    width: 72px;
  }
}

.medium {
  padding: 10px 12px 15px;

  p {
    font-size: 18px;
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

.small,
.xsmall {
  padding: 8px 10px 12px;

  p {
    font-size: 16px;
  }

  svg {
    height: 50px;
    width: 50px;
  }
}

.xsmall {
  svg {
    height: 40px;
    width: 40px;
  }
}

.clubs,
.spades {
  color: var(--black);
}

.diamonds,
.hearts {
  color: var(--red-casino);
}
