@import '@/styles/variables';

.card {
  background-color: var(--white-light);
  border: 1.5px solid var(--black);
  border-radius: 7px;
  font-weight: 700;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  p {
    margin: 0 0 5px;
    text-align: left;
  }
}

.large {
  padding: 5px 10px 10px;

  @media screen and (min-width: $phablet-width) {
    padding: 9px 11px 11px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 12px 12px 17px;
  }

  p {
    font-size: 16px;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
    }
  }

  svg {
    height: 30px;
    width: 30px;

    @media screen and (min-width: $phablet-width) {
      height: 38px;
      width: 38px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 72px;
      width: 72px;
    }
  }
}

.medium {
  padding: 5px 8px 8px;

  @media screen and (min-width: $phablet-width) {
    padding: 7px 9px 9px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 10px 12px 15px;
  }

  p {
    font-size: 14px;

    @media screen and (min-width: $tablet-width) {
      font-size: 18px;
    }
  }

  svg {
    height: 24px;
    width: 24px;

    @media screen and (min-width: $phablet-width) {
      height: 30px;
      width: 30px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 60px;
      width: 60px;
    }
  }
}

.small {
  padding: 3px 6px 5px;

  @media screen and (min-width: $phablet-width) {
    padding: 5px 7px 7px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 8px 10px 12px;
  }

  p {
    font-size: 12px;

    @media screen and (min-width: $tablet-width) {
      font-size: 16px;
    }
  }

  svg {
    height: 20px;
    width: 20px;

    @media screen and (min-width: $phablet-width) {
      height: 24px;
      width: 24px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 50px;
      width: 50px;
    }
  }
}

.xsmall {
  padding: 3px 5px 5px;

  @media screen and (min-width: $phablet-width) {
    padding: 5px 6px 7px;
  }

  @media screen and (min-width: $tablet-width) {
    padding: 8px 10px 12px;
  }

  p {
    font-size: 12px;

    @media screen and (min-width: $tablet-width) {
      font-size: 16px;
    }
  }

  svg {
    height: 17px;
    width: 17px;

    @media screen and (min-width: $phablet-width) {
      height: 20px;
      width: 20px;
    }

    @media screen and (min-width: $tablet-width) {
      height: 40px;
      width: 40px;
    }
  }
}

.clubs,
.spades {
  color: var(--black);
}

.diamonds,
.hearts {
  color: var(--red-casino);
}

.animateDown {
  animation: dealerCardAnimate 0.5s forwards;
}

.animateUp {
  animation: playerCardAnimate 0.5s forwards;
}

.order-1 {
  animation-delay: 0.5s;
}

.order-2 {
  animation-delay: 1s;
}

.order-3 {
  animation-delay: 1.5s;
}

.order-4 {
  animation-delay: 2s;
}

.order-5 {
  animation-delay: 2.5s;
}

@keyframes dealerCardAnimate {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes playerCardAnimate {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
