.card {
  background-color: var(--white-light);
  border: 1.5px solid var(--black);
  border-radius: 7px;
  font-weight: 700;
  opacity: 0;

  &.active {
    opacity: 1;
  }

  p {
    margin: 0 0 5px;
    text-align: left;
  }
}

.large {
  padding: 12px 12px 17px;

  p {
    font-size: 20px;
  }

  svg {
    height: 72px;
    width: 72px;
  }
}

.medium {
  padding: 10px 12px 15px;

  p {
    font-size: 18px;
  }

  svg {
    height: 60px;
    width: 60px;
  }
}

.small,
.xsmall {
  padding: 8px 10px 12px;

  p {
    font-size: 16px;
  }

  svg {
    height: 50px;
    width: 50px;
  }
}

.xsmall {
  svg {
    height: 40px;
    width: 40px;
  }
}

.clubs,
.spades {
  color: var(--black);
}

.diamonds,
.hearts {
  color: var(--red-casino);
}

.animateDown {
  animation: dealerCardAnimate 0.5s forwards;
}

.animateUp {
  animation: playerCardAnimate 0.5s forwards;
}

.order-1 {
  animation-delay: 0.5s;
}

.order-2 {
  animation-delay: 1s;
}

.order-3 {
  animation-delay: 1.5s;
}

.order-4 {
  animation-delay: 2s;
}

.order-5 {
  animation-delay: 2.5s;
}

@keyframes dealerCardAnimate {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes playerCardAnimate {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
