.game {
  margin: 24px auto 0;
  max-width: 700px;

  button {
    font-weight: 600;
    padding: 10px 15px;
  }
}

.board {
  background-color: var(--green-casino);
  color: var(--white-light);
  overflow: hidden;
  padding-bottom: 36px;
}

.deck {
  margin: 0;
  padding: 17px 17px 0;
  text-align: right;
}

.dealer,
.player {
  align-items: center;
  display: flex;
  height: 172px;
  padding: 17px 0;
}

.info {
  font-weight: 700;
  padding: 0 15px;
  width: 150px;
}

.name {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
}

.value {
  font-size: 32px;
  margin: 10px 0;
}

.cards {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 7px;
  height: 172px;
}

.actions,
.result {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  margin: 24px 0;
}

.actions,
.result > div {
  button {
    background-color: var(--white);
    border: 1.5px solid var(--black);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    margin-right: 17px;
    width: 150px;
  }

  button:hover:enabled {
    border: none;
  }

  button:last-child {
    margin-right: 0;
  }
}

.resultLabel {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
