.stats {
  border: 1px solid var(--black);
  margin: 0 auto;
  max-width: 340px;
  padding: 20px;
  text-align: center;
}

.statsBox {
  & > h3 {
    margin-top: 0;
  }

  & > p {
    margin: 10px 0;
  }
}
