@use '@/styles/variables' as *;

.buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  @media screen and (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 48px;
  }
}

.button {
  align-items: center;
  background-color: var(--discord-background);
  border-radius: 16px;
  display: flex;
  width: 170px;
  padding: 15px;

  @media screen and (min-width: $tablet-width) {
    width: auto;
    padding: 25px;
  }

  &:first-child {
    background-color: var(--twitch-background);
    margin-bottom: 10px;

    @media screen and (min-width: $tablet-width) {
      margin: 0 48px 0 0;
    }
  }

  svg path {
    fill: var(--text-headline);
  }

  span {
    color: var(--text-headline);
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;

    @media screen and (min-width: $tablet-width) {
      font-size: 26px;
      margin-left: 8px;
    }
  }
}
