header {
  display: flex;
  justify-content: space-around;
  padding: 15px 30px;
}

.nav {
  border: none;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 22px;

  &:disabled {
    color: var(--plum);
    cursor: default;
  }
}
