header {
  display: flex;
  justify-content: flex-start;
  padding: 15px 30px;
}

.nav {
  border: none;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 16px;
  margin-right: 15px;

  &:disabled {
    color: var(--plum);
    cursor: default;
  }

  &:last-child {
    margin-right: 0;
  }

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
