@import '../../styles/variables';

.toggle {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  .switch {
    margin: 0 10px;
  }

  svg {
    height: 25px;
    width: 25px;

    path {
      fill: var(--black);
    }
  }

  input[type='checkbox'] {
    height: 0;
    width: 0;
    display: none;
  }

  label {
    cursor: pointer;
    width: 40px;
    height: 25px;
    background: var(--discord-light);
    display: block;
    border-radius: 15px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 3.5px;
    left: 4px;
    width: 18px;
    height: 18px;
    background: var(--white);
    border-radius: 100%;
    transition: 0.3s;
  }

  input:checked + label {
    background: var(--twitch-light);
  }

  input:checked + label:after {
    left: calc(100% - 4px);
    transform: translateX(-100%);
  }
}

.boxes {
  color: var(--dark-blue);
  display: flex;
  justify-content: center;
  margin: 20px 0;

  @media screen and (min-width: $tablet-width) {
    margin: 35px 0 0;
  }
}

.box {
  background-color: var(--twitch-lighter);
  border-color: var(--owl-blue-lightest);
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-radius: 20px;
  box-shadow: 1px 4px 4px 0px var(--owl-blue-lighter);
  display: none;
  padding: 20px;
  width: 450px;

  @media screen and (min-width: $tablet-width) {
    display: block;
    padding: 30px;
  }

  &:first-child {
    background-color: var(--discord-lighter);
    margin-right: 0;

    @media screen and (min-width: $tablet-width) {
      margin-right: 25px;
    }

    @media screen and (min-width: $desktop-width) {
      margin-right: 60px;
    }
  }

  h2 {
    align-items: center;
    display: flex;
    font-size: 20px;
    justify-content: center;

    @media screen and (min-width: $tablet-width) {
      font-size: 34px;

      span {
        margin-right: 8px;
      }
    }

    svg {
      display: none;

      @media screen and (min-width: $tablet-width) {
        display: block;
      }
    }
  }
}

.mobile {
  display: block;
}

.list {
  list-style-type: none;
  text-align: left;

  li {
    margin-top: 12px;

    @media screen and (min-width: $tablet-width) {
      margin-top: 20px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    @media screen and (min-width: $tablet-width) {
      font-size: 20px;
    }

    span {
      font-weight: 500;
      margin-left: 5px;
    }
  }

  p {
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;

    @media screen and (min-width: $tablet-width) {
      margin-top: 8px;
    }
  }

  .note {
    font-weight: 400;
    margin-top: 2px;
  }
}
